<div class="container">
  <div class="rearch">
    <header class="rearchHeader">
      <div class="rearchTitle"><%= rearchTitle %></div>
      <div class="reatchDescription"><%= description %></div>
    </header>
    <div class="rearchContentWrapper">
      <div class="rearchContent">
        <fieldset class="questionTeam">
          <% for(var i = 0 ; i < questionTeam.length; i++ ) { %>
            <div class="question<%= i+1 %> ">
              <div class="questionTitle">
                <span class="posi"><%= i+1 %></span>
                <%= questionTeam[i].questTitle %>
                <% if(questionTeam[i].isMust ) { %>
                <span class="isMust"><%= '*' %></span>
                <% } %>
              </div>
              <% if(questionTeam[i].questType == 1 ) { %>  <!--单选题-->
              <div class="questOptTeam">
                <% for(var j = 0 ; j < questionTeam[i].questOption.length ; j++ )  { %>
                <label><input type="radio" name=" question<%= i+1 %>" ><%= questionTeam[i].questOption[j] %></label>  <!--第几题-->
                <% } %>
              </div>
              <% } %>

              <% if(questionTeam[i].questType == 2 ) { %>
              <div class="questOptTeam">
                <% for( var j = 0 ; j < questionTeam[i].questOption.length ; j++ )  { %>
                <label><input type="checkbox" name="question<%= i+1 %>_<%= j+1%>" ><%= questionTeam[i].questOption[j] %></label>  <!--第几题-->
                <% } %>
              </div>
              <% } %>

              <% if(questionTeam[i].questType == 3 ) { %>
              <div class="questAnsContainer">
                <label><input type="text" name="question<%= i+1 %>" ></label>
              </div>
              <% } %>
            </div>
          <% } %>
        </fieldset>
        <input type="button" value="提交问卷" id="submit">
      </div>
    </div>
  </div>
</div>